<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ProjetoCursoPrototipoTelaLancamento</display-name>
    
  <!-- DEFINE UM FORMATO DAS MENSAGENS DE ERRO QUE SEJA MAIS APROPRIADO PARA O ESTÁGIO DE DESENVOLVIMENTO  -->
  <context-param>
  	<param-name>javax.faces.PROJECT_STAGE</param-name>
  	<param-value>Development</param-value>
  </context-param>
  
  <!-- INFORMA AO JSF PARA USAR O TIMEZONE DO SISTEMA -->
  <context-param>
  	<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
  	<param-value>true</param-value>
  </context-param>
  
  
  <!-- FORÇA A VALIDAÇÃO DE CAMPOS, MESMO QUANDO ESTIVEREM VAZIOS -->
  <context-param>
  	<param-name>javax.faces.VALIDATE_EMPTY_FIELDS</param-name>
  	<param-value>true</param-value>
  </context-param>
  
  <!-- DEFINE A SERVLET DO JSF, ESPECIFICANDO A CLASSE E UM NOME -->
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  
  <!-- MAPEIA A SERVLET CRIADA NO BLOCO ACIMA PARA RESPONDER A TODAS AS SOLICITAÇÕES POR PÁGINAS .XHTML -->
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  
  
  <!-- CRIA UM FILTRO QUE TRATA AS SOLICITAÇÕES FEITAS AO APACHE TOMCAT, ESPECIFICANDO O ENCODING COMO UTF-8 -->
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  
  
  <!-- MAPEIA O FILTRO PARA TRATAR TODAS AS SOLICIÇÕES FEITAS AO TOMCAT -->
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>